VITE_FIREBASE_API_KEY="AIzaSyDZrZkyCnHiP2GpN9t1nfow_a2ZnyX7Q2E"
VITE_FIREBASE_AUTH_DOMAIN="gestor-streaming-ea667.firebaseapp.com"
VITE_FIREBASE_PROJECT_ID="gestor-streaming-ea667"
VITE_FIREBASE_STORAGE_BUCKET="gestor-streaming-ea667.firebasestorage.app"
VITE_FIREBASE_MESSAGING_SENDER_ID="37136935425"
VITE_FIREBASE_APP_ID="1:37136935425:web:5b8f074a44386a93cfee00"
